* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Section */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input{
    padding: 5px 100px 5px 10px;
    margin-left: 21rem;
    margin-top: 3rem;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}